<section class="content-header" ng-include="'partials/breadcrumb.html'" ng-init="title = 'Etapa';
   bcs=[{title:'Home',url:'#/'},{title:'Etapas',url:'#/etapas'},{title:'Etapa',url:'#/etapa/',active:true}]"></section>
<section class="content">




    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Etapa</h3>
            <div class="pull-right box-tools">
                <div class="btn-group open" ng-show="etapa.id!=null && etapa.id!=-1" ng-cloak>
                    <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-bars"></i></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#/etapa/{{etapa.id}}/inscricoes" ng-cloak="" class="text-red">Inscrições</a></li>
                        <li><a href="#/etapa/{{etapa.id}}/grid" ng-cloak="" class="text-red">Grid</a></li>
                        <li><a href="#/etapa/{{etapa.id}}/resultados" ng-cloak="" class="text-red">Resultados</a></li>
                        <li class="divider"></li>
                        <li><a href="#/etapa/{{etapa.id}}/relatorio" ng-cloak="" class="text-red">Relatório</a></li>

                    </ul>
                </div>

                <button type="button" class="btn btn-sm  pull-right" data-toggle="tooltip" title="Apagar" ng-click="remove()" ng-show="etapa.id!=null && etapa.id!=-1">
                    <i class="fa  fa-trash-o"></i></button>
            </div>
        </div>
        <span class="text-red" ng-if="etapa.active==1">Etapa ATIVA</span>
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Título</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Título" ng-model="etapa.titulo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDesc" class="col-sm-2 control-label">Descrição</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDesc" placeholder="Descrição" ng-model="etapa.descricao">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputData" class="col-sm-2 control-label">Data</label>

                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="inputData" ng-model="formData">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputImgSmall" class="col-sm-2 control-label">Imagem Pequena</label>

                    <div class="col-xs-8 col-sm-8 col-lg-8">
                        <input type="url" class="form-control" id="inputImgSmall" placeholder="http://" ng-model="etapa.imgSmall">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2">
                        <img style="width:100%" ng-src="{{etapa.imgSmall}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputImgBig" class="col-sm-2 control-label">Imagem Grande</label>

                    <div class="col-xs-8 col-sm-8 col-lg-8">
                        <input type="url" class="form-control" id="inputImgBig" placeholder="http://" ng-model="etapa.imgBig">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2">
                        <img style="width:100%" ng-src="{{etapa.imgBig}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLocal" class="col-sm-2 control-label">Local</label>

                    <div class="col-sm-10">
                        <span ng-show="etapa.id_Local==null" class="text-yellow">A definir</span>
                        <span ng-show="etapa.id_Local!=null" class="text-green">{{location.nome}}</span>
                        <button type="button" class="btn btn-primary btn-xs " data-toggle="modal" data-target="#pickLocal">
                            Selecionar local
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12 col-sm-12 control-label">Dados Inscrição</label>
                </div>
                <div class="form-group">
                    <label for="inputPS" class="col-sm-2 control-label">Prova Social</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPS" placeholder="items da prova social" ng-model="etapa.provaSocial">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDataI" class="col-sm-2 control-label">Lote I</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="inputDataI" placeholder="Data limite lote I" ng-model="dataLimiteLote1">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputDataI" placeholder="R$" ng-model="etapa.precoLote1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDataII" class="col-sm-2 control-label">Lote II</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="inputDataII" placeholder="Data limite lote II" ng-model="dataLimiteLote2">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputDataII" placeholder="R$" ng-model="etapa.precoLote2">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDataIII" class="col-sm-2 control-label">Lote III</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="inputDataIII" placeholder="Data limite lote III" ng-model="dataLimiteLote3">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputDataIII" placeholder="R$" ng-model="etapa.precoLote3">
                    </div>
                </div>
                <div class="form-group">
                    <label for="extraInfoEmail" class="col-sm-12 col-lg-12  " >Extras e-mail confirmação no Grid</label>
                    <div class="col-sm-12">                        
                        
                        <div id="summernote">{{etapa.extraInfoEmail}}</div>

                    </div>
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4"" style="text-align:right;">
                        ({{getTextChars()}}/6000)
                         <small style="float:right" title="Pode ser diferente do texto cru." >*total de caracteres do código HTML. </small>
                    </div>                   
                    
                </div>
                
                

            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-default" ng-click="cancel()">Voltar</button>
                <button type="submit" class="btn btn-default pull-right" ng-click="makeActive()" ng-if="etapa.active==0">Ativar etapa</button>

                <button type="submit" class="btn btn-info pull-right" ng-click="saveData()">Salvar</button>
            </div>

        </form>
    </div>


</section>
<div class="modal fade" id="pickLocal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Selecione a localidade</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome</th>

                        </tr>
                        <tr ng-repeat="location in locations">
                            <td></td>
                            <td><a ng-click="associateLocal(location)">{{location.nome}}</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-warning" ng-click="removeLocal()">Setar como local indefinido</button>
            </div>
        </div>
    </div>
</div>
