<section class="content-header" ng-include="'partials/breadcrumb.html'" ng-init="title = 'Etapa';
   bcs=[{title:'Home',url:'#/'},{title:'Etapas',url:'#/etapas'},{title:'Etapa',url:'#/etapa/',active:true}]"></section>
<section class="content">




    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Etapa</h3>
            <div class="pull-right box-tools">
                <div class="btn-group open" ng-show="etapa.id!=null && etapa.id!=-1" ng-cloak>
                    <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-bars"></i></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#/etapa/{{etapa.id}}/inscricoes" ng-cloak="" class="text-red">Inscrições</a></li>
                        <li><a href="#/etapa/{{etapa.id}}/grid" ng-cloak="" class="text-red">Grid</a></li>
                        <li class="divider"></li>
                        <li><a href="#/etapa/{{etapa.id}}/relatorio" ng-cloak="" class="text-red">Relatório</a></li>
                    </ul>
                </div>

                <button type="button" class="btn btn-sm  pull-right" data-toggle="tooltip" title="Apagar" ng-click="remove()" ng-show="etapa.id!=null && etapa.id!=-1">
                    <i class="fa  fa-trash-o"></i></button>
            </div>
        </div>

        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Título</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Título" ng-model="etapa.titulo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDesc" class="col-sm-2 control-label">Descrição</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDesc" placeholder="Descrição" ng-model="etapa.descricao">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputData" class="col-sm-2 control-label">Data</label>

                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="inputData" ng-model="formData">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputImgSmall" class="col-sm-2 control-label">Imagem Pequena</label>

                    <div class="col-sm-8">
                        <input type="url" class="form-control" id="inputImgSmall" placeholder="http://" ng-model="etapa.imgSmall">
                    </div>
                    <div class="col-sm-2">
                        <img style="width:100%" ng-src="{{etapa.imgSmall}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputImgBig" class="col-sm-2 control-label">Imagem Grande</label>

                    <div class="col-sm-8">
                        <input type="url" class="form-control" id="inputImgBig" placeholder="http://" ng-model="etapa.imgBig">
                    </div>
                    <div class="col-sm-2">
                        <img style="width:100%" ng-src="{{etapa.imgBig}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLocal" class="col-sm-2 control-label">Local</label>

                    <div class="col-sm-10">
                        <span ng-show="etapa.id_Local==null" class="text-yellow">A definir</span>
                        <span ng-show="etapa.id_Local!=null" class="text-green">{{location.nome}}</span>
                        <button type="button" class="btn btn-primary btn-xs " data-toggle="modal" data-target="#pickLocal">
                            Selecionar local
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Dados Inscrição</label>
                </div>
                <div class="form-group">
                    <label for="inputPS" class="col-sm-2 control-label">Prova Social</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPS" placeholder="items da prova social" ng-model="etapa.provasocial">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDataI" class="col-sm-2 control-label">Lote I</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputDataI" placeholder="Data limite lote I" data-inputmask="'alias': 'dd/mm/yyyy'"
                        data-mask ng-model="etapa.lote1.data">
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="inputDataI" placeholder="R$" ng-model="etapa.lote1.preco">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDataII" class="col-sm-2 control-label">Lote II</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputDataII" placeholder="Data limite lote II" data-inputmask="'alias': 'dd/mm/yyyy'"
                        data-mask ng-model="etapa.lote1.data">
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="inputDataII" placeholder="R$" ng-model="etapa.lote1.preco">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDataIII" class="col-sm-2 control-label">Lote III</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputDataIII" placeholder="Data limite lote III" data-inputmask="'alias': 'dd/mm/yyyy'"
                        data-mask ng-model="etapa.lote1.data">
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="inputDataIII" placeholder="R$" ng-model="etapa.lote1.preco">
                    </div>
                </div>

            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-default" ng-click="cancel()">Voltar</button>
                <button type="submit" class="btn btn-info pull-right" ng-click="saveData()">Salvar</button>
            </div>

        </form>
    </div>


</section>
<div class="modal fade" id="pickLocal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Selecione a localidade</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome</th>

                        </tr>
                        <tr ng-repeat="location in locations">
                            <td></td>
                            <td><a ng-click="associateLocal(location)">{{location.nome}}</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-warning" ng-click="removeLocal()">Setar como local indefinido</button>
            </div>
        </div>
    </div>
</div>