<section class="content-header" ng-include="'partials/breadcrumb.html'" ng-init="title = 'Etapa';
   bcs=[{title:'Home',url:'#/'},{title:'Etapas',url:'#/etapas'},{title:'Etapa',url:'#/etapa/{{etapa.id}}'},{title:'Inscrições',url:'#/etapa//grid'}]"></section>
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header ">


                    <h3 class="box-title">Grid </h3>

                    <div class="form-group " >
                        <label for="inputCategoria ">Categoria</label>
                        <select class="form-control " ng-model="categoriaGrid " ng-change="updateGrid()">
                            <option ng-repeat="categoria in categorias " value="{{categoria.id}} ">{{categoria.nome}}</option>
                        </select>
                        
                    </div>
                    <div class="pull-right box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="searchText">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th ng-click="sortBy('categoria')">Categoria</th>
                                <th ng-click="sortBy('nome_Equipe')">Equipe</th>
                                <th ng-click="sortBy('desc_Equipe')">Cidade</th>

                                <th ng-click="sortBy('largada')">Largada</th>

                            </tr>
                            <tr ng-repeat="item in items| filter:searchText| orderBy : inscOrder ">
                                <td>{{getLabelCategoria(item.categoria_Equipe)}}</td>
                                <td>{{item.nome_Equipe}}</td>
                                <td>{{item.desc_Equipe}}</td>
                                <td>{{item.largada|date:'hh:mm'}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box -->
            </div>
        </div>
</section>