<section class="content-header" ng-include="'partials/breadcrumb.html'" ng-init="title = 'Inscrições';
   bcs=[{title:'Home',url:'#/'},{title:'Etapas',url:'#/etapas'},{title:'Etapa',url:'#/etapa/{{etapa.id}}'},{title:'Inscrições',url:'#/etapa//inscricoes',active:true}]"></section>
<section class="content">
<style>
    .info{
           font-size: x-small;
    font-style: italic;
    }
    </style>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header ">


                    <h3 class="box-title">Inscrições </h3>
                    <div class="pull-right box-tools">
                        <div class="btn-group">
                            <div class="btn-group " ng-show="etapa.id!=null && etapa.id!=-1" ng-cloak>
                                <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-bars"></i></button>
                                <ul class="dropdown-menu pull-right" role="menu">

                                    <li><a href="#/etapa/{{etapa.id}}/grid" ng-cloak="" class="text-red">Grid</a></li>
                                    <li class="divider"></li>

                                </ul>
                            </div>
                            <button type="" class="btn btn-sm"><i class="fa fa-refresh" ng-click="refresh()"></i></button>
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right ng-pristine ng-untouched ng-valid ng-empty" placeholder="buscar"
                                ng-model="searchText">

                                <div class="input-group-btn">

                                    <button type="submit" class="btn btn-sm"><i class="fa fa-search"></i></button>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Data
                                    <col-sorter field="'data'" var="sortItem"></col-sorter>
                                </th>
                                <th>Nome
                                    <col-sorter field="'nome'" var="sortItem"></col-sorter>
                                </th>
                                <th>E-mail</th>

                                <th>Equipe
                                    <col-sorter field="'equipe'" var="sortItem"></col-sorter>
                                </th>
                                <th>Categoria
                                    <col-sorter field="'categoria'" var="sortItem"></col-sorter>
                                </th>
                                <th>Pagamento
                                    <col-sorter field="'paga'" var="sortItem"></col-sorter>
                                </th>
                            </tr>
                            <tr ng-repeat="item in items| filter:searchText| orderBy : sortItem.field:sortItem.reverse ">
                                <td>{{item.data|date:'dd-MM-yyyy'}}</td>
                                <td><a href="#/competidor/{{item.id_Trekker}}" title="Editar Competidor">{{item.nome}}</a></td>
                                <td><a href="#/competidor/{{item.id_Trekker}}" title="Editar Competidor">{{item.email}}</a></td>
                                <td><a href="#/equipe/{{item.id_Equipe}}" title="Editar Equipe">{{item.nome_Equipe}}</a>

                                    <div ng-if="item.id_Equipe!=item.competidor_Id_Equipe && item.competidor_Id_Equipe!=null" class="info">Alteração de Equipe, era '{{item.competidor_Equipe}}'</div>

                                    <div ng-if="item.competidor_Id_Equipe==null" class="info">Competidor sem equipe atualmente</div>
                                </td>
                                <td>{{item.categoria}}</td>

                                <td>
                                    <div class="input-group-btn" style="width:100%">
                                        <button type="button" class="btn dropdown-toggle" ng-class="{'btn-warning':item.paga!=true,'btn-success':item.paga==true}"
                                        data-toggle="dropdown" aria-expanded="false"><i class="fa fa-spin fa-refresh" ng-show="item.pagoTemp"></i> <span ng-show="item.paga==true">Pago</span>
                                            <span ng-hide="item.paga==true">Pendente</span>
                                            <span class="fa fa-caret-down"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="" ng-click="marcarPago(item,true)" ng-hide="item.paga==true">Pagamento Confirmado</a></li>
                                            <li><a href="" ng-click="marcarPago(item,false)" ng-show="item.paga==true">Pagamento Pendente</a></li>


                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                 
                </div>

            </div>
        </div>
</section>