<div class="modal-header ">
    <h3 class="modal-title ">Selecionar Competidor</h3>
</div>
<div class="modal-body ">
    <form role="form " class="css-form " novalidate autocomplete="none">
        <div class="box-body ">

            <div class="row ">
                Competidor:
                <input type="text" autocomplete="off " ng-model="competidor" typeahead-show-hint="true " uib-typeahead="g as g.nome for g in competidores | filter:{nome:$viewValue} | limitTo:8"
                typeahead-editable="true " class="form-control " typeahead-select-on-exact="true " typeahead-min-length="0 "
                typeahead-no-results="noResult">
            </div>

            <div>{{competidor.nome}} - <i>{{competidor.equipe}}</i> </div>
            <div>Categoria: {{competidor.categoria}}</div>
        </div>
    </form>
</div>
<div class="modal-footer ">
    <button class="btn btn-primary " type="button " ng-click="ok() ">Selecionar</button>
    <button class="btn btn-warning " type="button " ng-click="cancel() ">Cancelar</button>
</div>