<div class="row">
    <div class="col-xs-12  no-print">
        <button class="btn btn-default pull-right" ng-click="printIt()"><i class="fa fa-print"></i> Print</button>
    </div>
    <div class="col-xs-12">
        <h2 class="page-header"><i class="fa fa-spin fa-refresh" data-loading></i>
                        <i class="fa  fa-map-signs"></i> {{etapa.titulo}}    <small class="pull-right">Data: {{data|date:'short'}}</small>
                        </h2>

    </div>
    <!-- /.col -->
</div>
<div class="row">
    <div class="col-xs-12 table-responsive">
        <h2>Equipes no Grid inscritas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Largada</th>
                    <th>Equipe</th>
                    <th>Categoria</th>
                    <th>Pgtos</th>
                    <th>Inscritos</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in report|orderBy:['hora','minuto','nome_Equipe']">
                    <td>{{$index+1}}</td>
                    <td>{{entry.hora}}:{{entry.minuto|zeroLeadNumber}}</td>
                    <td>{{entry.nome_Equipe}}</td>
                    <td>{{getLabelCategoria(entry.categoria_Equipe)}}</td>
                    <td>{{entry.total}}</td>
                    <td>{{entry.inscritos}}</td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 table-responsive">
        <h2>Inscritos fora do Grid</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>

                    <th>Equipe</th>
                    <th>Nome</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in reportOutOfGrid|orderBy:['nome_Equipe','nome']">
                    <td>{{$index+1}}</td>
                    <td>{{entry.nome_Equipe}}</td>
                    <td>{{entry.nome}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>