<style>
    .stepClass {
        padding-left: 15px;
        font-size: 24px;
    }
</style>
<div class="content-wrapper">
    <div class="container">

        <section class="content-header">
            <h1>
         {{etapa.titulo}}
          <small> {{etapa.data|date:'dd-MM-yyyy'}}</small>
        </h1>

        </section>


        <section class="content" ng-hide="etapaFinalizada">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Inscrição</h3>
                </div>
                <div class="box-body">
                    Inscreva sua equipe para a próxima etapa da CopaNorth. Para isso, se identifique, selecione sua equipe e seus integrantes.
                </div>
                <div class="box-footer ">
                    <div class="row" ng-hide="inscricao.lider!=null">

                        <div class="col col-sm-6">
                            <span class="text-yellow stepClass">1. Seus dados <i class="fa fa-warning"></i></span>
                        </div>
                        <div class="col col-sm-6" style="text-align:center">
                            <a class="btn btn-xs btn-social btn-facebook ng-binding" ng-click="connectFB()">
                                <i class="fa fa-facebook"></i> Conectar com Facebook
                            </a>
                            <p class="text-muted" style="text-align:center;" ng-click="selectCompetidor()">Ou use formulário</p>
                        </div>
                    </div>
                    <div class="row" ng-show="inscricao.lider!=null">
                        <div class="col col-sm-12">
                            <div class="pull-right box-tools">
                                <button class="btn btn-warning btn-xs" " ng-cloak ng-click="selectCompetidor(); ">Alterar</button>
                            </div>
                            <span class=" text-green stepClass ">1. {{inscricao.lider.nome}} <i class="fa fa-check "  ></i></span>
                        </div>

                    </div>
                </div>
                <div class="box-footer " ng-show="inscricao.lider!=null ">
                    <div class="row " ng-hide="inscricao.equipe!=null ">
                        <div class="col col-sm-12 ">
                            <div class="pull-right box-tools ">
                            <button class="btn btn-success btn-xs " ng-hide="inscricao.equipe!=null
                                " ng-cloak ng-click="selectEquipe(); ">Selecionar</button>
                                </div>
                            <span class=" text-yellow stepClass ">2. Sua equipe <i class="fa fa-warning "></i></span>
                        </div>
                        
                    </div>
                    <div class="row " ng-show="inscricao.equipe!=null ">
                        <div class="col col-sm-12 ">
                            <div class="pull-right box-tools ">
                                <button class="btn btn-warning btn-xs " ng-cloak ng-click="selectEquipe(); ">Alterar</button>
                            </div>
                            <span class=" text-green stepClass ">2. {{inscricao.equipe.nome}} <i class="fa fa-check "  ></i></span>
                        </div>


                    </div>
                </div>

                <div class="box-footer " ng-show="inscricao.lider!=null && inscricao.equipe!=null ">
                    <div class="row ">
                        <div class="col col-sm-12 ">
                            <div class="pull-right box-tools ">
                                <button class="btn btn-info btn-xs " ng-cloak ng-click="selectIntegrante(); ">Adicionar</button>
                            </div>
                            <span class=" text-muted stepClass ">3. Integrantes  </h3>
                           
                        </div>
                        
                    </div>
                    <div class="row "  >
                        <ul style="margin:20px ">
                            <li ng-repeat="integrante in inscricao.integrantes ">
                                {{integrante.nome}} <button class="btn btn-danger btn-xs " ng-cloak ng-click="removeIntegrante(integrante,$index);
                                " title="Remover competidor ">X</button>
                            </li>
                        </ul>
                        
                        
                    </div>
                </div>
                 <div class="box-footer " ng-show="inscricao.lider!=null && inscricao.equipe!=null " ng-cloak>

                    <button type="submit " class="btn btn-primary btn-block pull-right " ng-cloak ng-click="inscrever() ">Inscrever</button>

                </div>
            </div>





        </section>

    </div>

</div>



<script type="text/ng-template " id="customTemplate.html ">
    <a>

        <span ng-bind-html="match.model.nome + ' - '+ (match.model.equipe!=null?match.model.equipe: 'Sem Equipe') | uibTypeaheadHighlight:query "></span>
                            </a>
                            </script>
                            <script type="text/ng-template " id="customTemplateEquipe.html ">
                                <a>

                                    <span ng-bind-html="match.model.nome + ' - '+ (match.model.descricao) | uibTypeaheadHighlight:query "></span>
                                </a>
                            </script>

                            <script type="text/ng-template " id="competidorModalContent.html ">
                                <div class="modal-header ">
                                    <h3 class="modal-title ">Adicionar Competidor</h3>
                                </div>

                                <div class="modal-body ">
                                    <form name="form " class="css-form " novalidate autocomplete="off">
                                        <div class="box-body ">
                                            <div class="row ">
                                                <label for="inputTrekker " class="col-sm-2 control-label ">*Nome</label>
                                                <div class="col-sm-10 ">
                                                    <input type="text " autocomplete="off" ng-blur="exitFilterCompetidor()
                                " ng-model="novoCompetidor " id="inputTrekker " placeholder="Nome " typeahead-show-hint="true" uib-typeahead="g as g.nome for g in competidores | filter:{nome:$viewValue} | limitTo:8
                                " typeahead-editable="true " class="form-control " typeahead-select-on-exact="true " typeahead-template-url="customTemplate.html
                                " typeahead-min-length="0" typeahead-no-results="noResult ">
                                                </div>
                                            </div>


                                            <div class="form-group " ng-show="noResult ">
                                                <h3>Criar novo cadastro</h3>
                                            </div>
                                            <div class="form-group " ng-show="noResult ">
                                                <label for="inputEmail " class="col-sm-2 control-label ">*E-mail</label>
                                                <input type="email " ng-model-options="{ updateOn: 'blur' }
                                " required ng-model="novoCompetidor.email " name="competidorEmail " id="inputEmail "
                                                " placeholder="xxx@xxx.xxx " class="form-control ">
                                    </input>
                                    <span class="text-red " ng-show="form.competidorEmail.$error.email ">Formato inválido de email</span>
                                    <span class="text-red " ng-show="form.competidorEmail.$error.required ">E-mail é obrigatório</span>
                            </div>

                            <div class="form-group " ng-show="noResult ">
                                <label for="inputtelefone " class="col-sm-2 control-label ">Telefone</label>
                                <input type="tel " ng-model="novoCompetidor.telefone " id="inputtelefone
                                                " placeholder="(XX) XXXXX-XXXX " class="form-control ">
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer ">
                        <button class="btn btn-primary " type="button " ng-click="ok() ">Selecionar</button>
                        <button class="btn btn-warning " type="button " ng-click="cancel() ">Cancelar</button>
                    </div>
                    </script>
                    

                    <script type="text/ng-template " id="equipeModalContent.html ">
                        <div class="modal-header ">
                            <h3 class="modal-title ">Definir equipe</h3>
                        </div>
                        <div class="modal-body ">
                            <form name="form " role="form " class="css-form " novalidate autocomplete="off">
                                <div class="box-body ">

                                    <div class="row ">
                                        <label for="inputEquipe " class="col-sm-2 control-label ">*Nome da equipe</label>
                                        <div class="col-sm-10 ">

                                            <input type="text " ng-blur="exitFilterEquipe()" ng-model="novaEquipe" id="inputEquipe " placeholder="Nome Equipe " typeahead-show-hint="true"
                                            autocomplete="off " uib-typeahead="g as g.nome for g in equipes | filter:{nome:$viewValue}
                                                | limitTo:8 " typeahead-editable="true" class="form-control
                                                " typeahead-select-on-exact="true " typeahead-template-url="customTemplateEquipe.html
                                                " typeahead-min-length="1" typeahead-no-results="noResultEquipe ">
                                        </div>
                                    </div>



                                    <div class="form-group " ng-show="noResultEquipe ">
                                        <h3>Criar nova equipe</h3>
                                    </div>
                                    <div class="form-group " ng-show="noResultEquipe ">

                                        <label for="inputCidade ">Cidade</label>

                                        <input type="tel " ng-model="novaEquipe.descricao " id="inputCidade " class="form-control ">

                                    </div>

                                    <div class="form-group " ng-show="noResultEquipe ">
                                        <label for="inputCategoria ">Categoria</label>
                                        <select class="form-control " ng-model="novaEquipe.id_Categoria " id="inputCategoria
                                                " ng-disabled="novaEquipe.id!=null " placeholder="Selecione a categoria ">
                                            <option ng-repeat="categoria in categorias " value="{{categoria.id}} ">{{categoria.nome}}</option>
                                        </select>
                                        <p class="help-block ">(*Para alterar uma equipe existente utilize o aplicativo da North)</p>
                                    </div>



                                </div>
                            </form>
                        </div>
                        <div class="modal-footer ">
                            <button class="btn btn-primary " type="button " ng-click="ok() ">Selecionar</button>
                            <button class="btn btn-warning " type="button " ng-click="cancel() ">Cancelar</button>
                        </div>
                    </script>