<div class="content-wrapper">
    <div class="container">

        <section class="content-header">
            <h1>Inscrição cadastrada com sucesso 
          <small> </small>
        </h1>


        </section>
        <section class="invoice">

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
            <i class="fa fa-globe"></i> {{competidor.equipe}} inscrito na etapa {{etapa.titulo}}
          
            <small>Data Inscrição: {{inscricao.data|date:'dd-MM-yyyy'}}</small>
          </h2>
                </div>

            </div>



            <div class="row">

                <dl>
                    <dt>Parabéns, dados cadastrados com sucesso para a {{etapa.titulo}} do Enduro a Pé Northbrasil!</dt>
                    <dd>Recebemos sua pré-inscrição e de sua equipe, portanto vocês já constarão automaticamente no PRÉ-GRID
                        do evento. Para confirmar a inscrição e ter o nome da equipe listado no GRID definitivo, com horário
                        de largada oficial, favor seguir procedimentos abaixo:
                    </dd>
                </dl>
                <dl>
                    <dt>1) PAGAMENTO</dt>
                    <dd>Escolher uma das contas correntes abaixo para pagamento/transferência bancária:
                    </dd>
                    <ul>
                        <li> Bradesco - ag:2297-7 / cc:109.704-0 / Favorecido: Sílvia H. Andreo</li>
                        <li>Itaú - ag:4271 / cc:01565-5 / Favorecido: Sílvia H. Andreo</li>
                        <li>Banco do Brasil - ag: 1515-6 / cc:6108-5 / Favorecido: Sílvia H. Andreo</li>
                    </ul>
                    <dd>Em caso de DOC informar o CPF do favorecido.</dd>
                    <dd> Para solicitar o No. do CPF do favorecido, favor entrar em contato pelo tel (19) 3289-5281, (19) 8142-6043
                        ou recibo@northbrasil.com.br.</dd>
                </dl>
                <dl>
                    <dt>2) ENCAMINHAR CÓPIA DE COMPROVANTE DE PAGAMENTO</dt>
                    <dd>Para o Whatsapp (19) 98142-6043 ou E-MAIL recibo@northbrasil.com.br.</dd>
                    <dd>Lembrando que o comprovante original deve ser apresentado no Check-in. Informar junto ao Comprovante:</dd>
                    <ul>
                        <li>Nome da equipe</li>
                        <li>Categoria (Trekkers TURISMO, Trekkers, Graduados PRO, Graduados)</li>
                    </ul>
                </dl>
                <dl>
                    <dt>3) VALOR DE INSCRIÇÃO POR PARTICIPANTE</dt>
                    <dd>VALOR C/ DESCONTO (para pagto antecipado, até 22 de setembro): R$56,00 + Prova Social</dd>
                    <dd>VALOR NORMAL R$65,00 + Prova Social*</dd>


                </dl>
                <dl>
                    <dt>Prova Social</dt>
                    <dd>Item para doação desta etapa:</dd>
                    <ul>
                        <li>1 kg de alimento não perecível ou 1 livro usado (por participante)</li>
                    </ul>
                    <dd> A doação deve ser entregue no Check-in. O não cumprimento da prova social pode implicar em penalização
                        da equipe (em pontos), conforme Regulamento. Todo material arrecadado será revertido para entidades
                        sociais e famílias carentes da cidade que recebe o evento.</dd>

                </dl>

            </div>

            <div class="row no-print">
                <div class="col-xs-12">
                    <a href="javascript:window.print();" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</a>

                </div>
            </div>
        </section>

    </div>

</div>
