.animate-show {
    opacity: 1;
}
.animate-show.ng-hide-remove {
  transition: all linear 0.4s;  
}
.animate-show.ng-hide-add {
  transition: all linear 0.1s;
}
.animate-show.ng-hide { 
  opacity: 0; 
}

